.body {
  position: relative;
  text-align: center
}

.ai {
  line-height: 0;
  text-align: center;
}
.ai-img {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.player-choices {
  text-align: center;
  width: 100%
}

.rps {
  display: inline-block;
  margin: 2em;
  cursor: pointer;
  transition: 250ms ease-in-out;
  padding: 0px;
}

.rps:hover {
  transform: scale(1.1);
}

.answers {
  text-align: center;
  margin-top: 2em;
  visibility: hidden;
}

.player {
  line-height: 0;
  text-align: center;  
}
.player-img {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.score {
  display: inline;
  margin-right: 10%;
  font-size: xx-large
}

.label {
  display: inline;
  margin-left: 10%;
  font-size: x-large;
  font-weight: bolder;
  text-transform: uppercase
}

.scoreboard {
  display: block;
  text-align: center;
  margin-top: 2em
}

#result {
  display: none;
  text-align: center
}

#reset {
  display: none;
  margin: auto;
  background: yellow;
  border: 1px solid black;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15;
  font-weight: bold;
  
  transition: 500ms
}

#reset:hover {
  font-size: 20px
}

/* Small Screens */
@media screen and (min-width: 260px) {
  .rps {
    width: 75px;
    height: 75px
  }
  .ai-img {
    width: 125px;
    height: 125px;
  }
  .player-img {
    width: 125px;
    height: 125px;
  }
  .answers img {
    width: 125px;
    height: 125px;
  }
}


/* Medium Screens */
@media screen and (min-width: 767px) {
  .rps {
    width: 75px;
    height: 75px;
    margin-right: 4em;
    margin-left: 4em
  }
  .ai-img {
    width: 125px;
    height: 125px;
  }
  .player-img {
    width: 125px;
    height: 125px;
  }
  .answers img {
    width: 125px;
    height: 125px;
  }
}

/* Desktops and laptops ----------- */
@media screen  and (min-width: 1224px) {
  .rps {
    width: 125px;
    height: 125px;
    margin-right: 6em;
    margin-left: 6em
  }
  .ai-img {
    width: 125px;
    height: 125px;
  }
  .player-img {
    width: 125px;
    height: 125px;
  }
  .answers img {
    width: 125px;
    height: 125px;
  }
}
